.section {
  font-family: 'IBM Plex Sans', sans-serif;
  @apply sm:flex w-full h-full;

  &__number {
    @apply text-white mx-auto mt-8 mb-6 relative md:mr-[63px] xl:mb-8;
    @apply text-[60px] leading-[40px];
    @apply sm:text-[120px] sm:leading-[100px];
    @apply md:text-[160px] md:leading-[110px];
    @apply xl:text-[200px] lg:leading-[130px];
    text-shadow: 0 13px 30px rgb(85 61 145 / 15%);
    font-weight: 900;
    letter-spacing: -5px;
  }
  &__title {
    font-weight: 900;
    @apply relative text-[#353043];
    @apply pb-4 md:pb-6;
    @apply pr-5 md:pr-8;
    @apply text-xl sm:text-xl md:text-2xl lg:text-4xl;

    .cd-section:nth-child(even) & {
      @apply text-white;
    }
    &:after {
      @apply absolute bottom-0 left-[2px] w-[68px] h-[2px] bg-[#637bbc];
      content: '';
    }
  }
  &__text {
    font-weight: 100;
    @apply block mt-4 text-[#353043] text-base pr-4 sm:pl-4 z-10;
    @apply md:mt-8 md:pr-8;

    .cd-section:nth-child(even) & {
      @apply text-white;
    }
  }
  &__btn {
    @apply mt-4 flex pb-8 sm:pl-4;
    @apply md:mt-4 md:pb-16;
  }

  &__left {
    @apply relative flex flex-col justify-around sm:justify-center h-4/5 sm:h-auto md:w-4/5 lg:w-3/5 overflow-hidden;
    @apply pl-4 sm:pl-6 md:pl-20 lg:pl-32 xl:pl-44;
    background: linear-gradient(135deg, #c6e1f0 0, #edf0fe 64%, #fff 100%);
    .cd-section:nth-child(even) & {
      background: linear-gradient(135deg, #9391d9 0, #9ce2ee 100%);
    }
  }

  &__right {
    @apply relative flex flex-col justify-center overflow-x-hidden h-1/5 sm:h-auto md:w-1/5 lg:w-2/5;
    background: linear-gradient(45deg, #9391d9 0, #9ce2ee 100%);
    .cd-section:nth-child(even) & {
      background: linear-gradient(45deg, #637dbd 0, #553d91 100%);
    }
  }
}

.cd-section {
  overflow: hidden;
  height: 100vh;
}

.cd-section .item_wrap {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
